@use '../../styles/variables' as v;

.footer {
  padding-block: 2.5rem;
  border-top: 0.0625rem solid v.$color-border;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media (width >=v.$breakpoint-tablet) {
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
  }
}

.brand {
  margin-bottom: 0.5rem;
  color: v.$color-primary;
  font-size: 1.125rem;
  font-weight: 700;
}

.description,
.copyright {
  color: v.$color-text-muted;
  font-size: 0.9375rem;
}
